<div class="container">
    <div class="row">
        <div class='col-md-12'>
            <div class="form-group">
                @*<span col-sm-6> @Html.Label("Date of Birth", htmlAttributes: new { @class = "control-label col-md-2" })</span>*@
                <div class='input-group date col-sm-3' id='datetimepicker1'>

                    @Html.EditorFor(m => m.Event.DateAndTime, new { htmlAttributes = new { @class = "form-control" } })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <script type="text/javascript">
                            $(document).ready(function ()
                            {
                                $("#datetimepicker1").datetimepicker(
                                    {
                                        defaultDate: '@DateTime.Now.ToOADate()',
                                        showTodayButton: true,
                                        format: 'YYYY-MM-DD HH:mm',
                                        showClose: true,
                                        showClear: true,
                                        toolbarPlacement: 'top',
                                        stepping: 15
                                    });
                            });
                    </script>
                    @Html.ValidationMessageFor(m => m.Event.DateAndTime)
                </div>
            </div>
        </div>
    </div>
</div>