@{
    ViewBag.Title = "Potvrda o izmeni lozinke";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Molimo vas proverite email da biste potvrdili izmenu lozinke
    </p>
</div>
	
